/* add global and minimal css that will be included by all the php templates */
.parent-flex{
    display:flex;
    flex-direction: column;
    height:100%;
    min-height:0;
}

.parent-flex>.row{
    height:100%;
}

.flex-grow-overflow{
    flex:1;
    overflow:auto;
}

.break-long-word{
    overflow-wrap: break-word;
}

.clickable{
    cursor: pointer;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none !important;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
}

.ellipsis{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resize-none{
    resize:none !important;
}
